@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15192a;
}

.container-snap::-webkit-scrollbar {
  display: none;
}

.container-snap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
